.btn-scrollTo-top{
  width:50px;
  height:50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  background-color: #0cbad1;
  border-radius: 50%;
  cursor: pointer;
}
.btn-scrollTo-top:active{
  width:45px;
  height:45px;
  background-color: #0cbad19c;
  transition: all 0.55s;
}
@media (min-width:312px) and (max-width:320px){

  footer{
    background-color: #353535;
    color: silver;
    font-size: 14px;
    font-family: Calibri;
    width:100%;
  }
  footer .foot,
.foot-principal{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:center;
}
footer .foot:last-child{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap:5px;
  align-items:center;
}
.foot-principal>img{
  width:120px ;
  height: 120px;
  padding: 0;
}

.foot-principal p{
margin-top: -10px;
}
.social-icons{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  gap:15px;
}
.social-icons img{
  width: 40px;
  height:40px ;
  cursor: pointer;
}

.social-icons span:first-child img{
  width:54px;
  height:54px ;
  cursor: pointer;
}
}

/*---Ecran 321px à 344px---*/
@media (min-width:321px) and (max-width:344px){

  footer{
    background-color: #353535;
    color: silver;
    font-size: 14px;
    font-family: Calibri;
    width:100%;
    margin-left:5px;
  }
  footer .foot,
.foot-principal{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:center;
}
footer .foot:last-child{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap:5px;
  align-items:center;
}
.foot-principal>img{
  width:120px ;
  height: 120px;
  padding: 0;
}

.foot-principal p{
margin-top: -10px;
}
.social-icons{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  gap:15px;
}
.social-icons img{
  width: 40px;
  height:40px ;
  cursor: pointer;
}

.social-icons span:first-child img{
  width:54px;
  height:54px ;
  cursor: pointer;
}
}

/*---Ecran 345px à 360px---*/
@media (min-width:345px) and (max-width:360px){

  footer{
    background-color: #353535;
    color: silver;
    font-size: 14px;
    font-family: Calibri;
    width:100%;
  }
  footer .foot,
.foot-principal{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:center;
}
footer .foot:last-child{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap:5px;
  align-items:center;
}
.foot-principal>img{
  width:120px ;
  height: 120px;
  padding: 0;
}

.foot-principal p{
margin-top: -10px;
}
.social-icons{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  gap:15px;
}
.social-icons img{
  width: 40px;
  height:40px ;
  cursor: pointer;
}

.social-icons span:first-child img{
  width:54px;
  height:54px ;
  cursor: pointer;
}
}
/*---Ecran 361px à 375px---*/
@media (min-width:361px) and (max-width:375px) {

  footer{
    background-color: #353535;
    color: silver;
    font-size: 14px;
    font-family: Calibri;
    width:100%;
  }
  footer .foot,
.foot-principal{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:center;
}
footer .foot:last-child{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap:5px;
  align-items:center;
}
.foot-principal>img{
  width:120px ;
  height: 120px;
  padding: 0;
}

.foot-principal p{
margin-top: -10px;
}
.social-icons{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  gap:15px;
}
.social-icons img{
  width: 40px;
  height:40px ;
  cursor: pointer;
}

.social-icons span:first-child img{
  width:54px;
  height:54px ;
  cursor: pointer;
}
}

/*---Ecran 376px à 390px---*/
@media (min-width:376px) and (max-width:390px) {

  footer{
    background-color: #353535;
    color: silver;
    font-size: 14px;
    font-family: Calibri;
    width:100%;
  }
  footer .foot,
.foot-principal{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:center;
}
footer .foot:last-child{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap:5px;
  align-items:center;
}
.foot-principal>img{
  width:120px ;
  height: 120px;
  padding: 0;
}

.foot-principal p{
margin-top: -10px;
}
.social-icons{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  gap:15px;
}
.social-icons img{
  width: 40px;
  height:40px ;
  cursor: pointer;
}

.social-icons span:first-child img{
  width:54px;
  height:54px ;
  cursor: pointer;
}
}

/*---Ecran 391px à 425px---*/
@media (min-width:391px) and (max-width:425px){

  footer{
    background-color: #353535;
    color: silver;
    font-size: 14px;
    font-family: Calibri;
    width:102%;
  }
  footer .foot,
.foot-principal{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:center;
}
footer .foot:last-child{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap:5px;
  align-items:center;
}
.foot-principal>img{
  width:120px ;
  height: 120px;
  padding: 0;
}

.foot-principal p{
margin-top: -10px;
}
.social-icons{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  gap:15px;
}
.social-icons img{
  width: 40px;
  height:40px ;
  cursor: pointer;
}

.social-icons span:first-child img{
  width:54px;
  height:54px ;
  cursor: pointer;
}
}

/*---Ecran 426px à 430px---*/
@media (min-width:426px) and (max-width:430px){

  footer{
    background-color: #353535;
    color: silver;
    font-size: 14px;
    font-family: Calibri;
    width:102%;
  }
  footer .foot,
.foot-principal{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:center;
}
footer .foot:last-child{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap:5px;
  align-items:center;
}
.foot-principal>img{
  width:120px ;
  height: 120px;
  padding: 0;
}

.foot-principal p{
margin-top: -10px;
}
.social-icons{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  gap:15px;
}
.social-icons img{
  width: 40px;
  height:40px ;
  cursor: pointer;
}

.social-icons span:first-child img{
  width:54px;
  height:54px ;
  cursor: pointer;
}
}
/*---Ecran 431px à 480px---*/
@media (min-width:431px) and (max-width:480px){

  footer{
    background-color: #353535;
    color: silver;
    font-size:12px;
    font-family: Calibri;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 100px;
    padding:15px;
  }

  footer .foot,
.foot-principal{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:center;
}
footer .foot:last-child{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap:5px;
  align-items:center;
}
.foot-principal>img{
  width:70px ;
  height:70px;
  padding:0;
}

.foot-principal p{
margin-top:40px;
}
.social-icons{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  gap:5px;
}
.social-icons img{
  width:25px;
  height:25px ;
  cursor: pointer;
}

.social-icons span:first-child img{
  width:30px;
  height:30px ;
  cursor: pointer;
} 
}


/*---Ecran 481px à 540px---*/
@media (min-width:481px) and (max-width:540px){

  footer{
    background-color: #353535;
    color: silver;
    font-size:12px;
    font-family: Calibri;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 140px;
    padding:15px;
  }

  footer .foot,
.foot-principal{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:center;
}
footer .foot:last-child{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap:5px;
  align-items:center;
}
.foot-principal>img{
  width:140px;
  height:140px;
  padding:0;
}

.foot-principal p{
margin-top:0px;
}
.social-icons{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  gap:10px;
}
.social-icons img{
  width:35px;
  height:35px ;
  cursor: pointer;
}

.social-icons span:first-child img{
  width:45px;
  height:45px ;
  cursor: pointer;
} 
}

/*---Ecran 541px à 640px---*/
@media (min-width:541px) and (max-width:640px){

  footer{
    background-color: #353535;
    color: silver;
    font-size:12px;
    font-family: Calibri;
    display:grid;
    text-align:center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 130px;
    padding:15px;
  }

  footer .foot,
.foot-principal{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:center;
}
footer .foot:last-child{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap:5px;
  align-items:center;
}
.foot-principal>img{
  width:140px;
  height:140px;
  padding:0;
}

.foot-principal p{
margin-top:0px;
}
.social-icons{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  gap:10px;
}
.social-icons img{
  width:35px;
  height:35px ;
  cursor: pointer;
}

.social-icons span:first-child img{
  width:45px;
  height:45px ;
  cursor: pointer;
} 
}
/*---Ecran 641px à 1368px---*/
@media (min-width:641px) and (max-width:1368px){

  footer{
    background-color: #353535;
    color: silver;
    font-size:12px;
    font-family: Calibri;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 140px;
    padding:15px;
  }

  footer .foot,
.foot-principal{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:center;
}
footer .foot:last-child{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap:5px;
  align-items:center;
}
.foot-principal>img{
  width:140px;
  height:140px;
  padding:0;
}

.foot-principal p{
margin-top:0px;
}
.social-icons{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  gap:10px;
}
.social-icons img{
  width:35px;
  height:35px ;
  cursor: pointer;
}

.social-icons span:first-child img{
  width:45px;
  height:45px ;
  cursor: pointer;
} 
}
/*----Ecran 900px---*
@media (min-width:481px) {
  footer{
    background-color: #353535;
    color: silver;
    font-size: 14px;
    font-family: Calibri;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 100px;
    padding: 15px;
  }

  footer .foot,
.foot-principal{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items:center;
}
footer .foot:last-child{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap:5px;
  align-items:center;
}
.foot-principal>img{
  width:120px ;
  height: 120px;
  padding: 0;
}

.foot-principal p{
margin-top: -10px;
}
.social-icons{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  gap:15px;
}
.social-icons img{
  width: 40px;
  height:40px ;
  cursor: pointer;
}

.social-icons span:first-child img{
  width:54px;
  height:54px ;
  cursor: pointer;
} 
}


